Вимоги:
•	Завдання має бути реалізоване за допомогою Python
•	Можна використовувати будь-які бібліотеки, які вважаєте за потрібне
•	Завантажити рішення на GitHub та відправити посилання
•	Додати requirements.txt
•	Описати рішення у README.md (GitHub) або .docx (відправити разом з посиланням на GitHub) файлі
